html, body {
	margin: 0;
}

#header {
	width: 100%;
	height: 350px;
	border: 1px solid black;
}

#personal {
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid black;
	padding: 10px;
}

#personal img {
	height: 25px;
	vertical-align: middle;
}

#personal span {
}

#personal:hover {
	cursor: pointer;
	text-decoration: underline;
}

#hulp {
	
	position: absolute;
 	 width:100px;
 	 height: 290px;
	top: 20;
	left: 20;
	border: 1px solid black; 
	padding: 10px; 



}

#eigenoks {
	

}

.eigenok {
	position: absolute;
	width: 200px;
	height: 150px;
	border: 1px solid black;
	top:130px; 

}

#overzicht {
}

#arts1 {
  
  position: absolute;
  width: 100px;
  height:300px;
  top:360px; 
  left: 10px; 
  border: 1px solid black; 
  padding
  
}

#arts2 {
  position: absolute;
  width: 100px;
  height:300px;
  left: 120px; 
  top:360px; 
  border: 1px solid black; 
  
} 
 #arts3 {
  position: absolute;
  width: 100px;
  height:300px;
  left: 230px; 
  top:360px; 
  border: 1px solid black; 
  
    
  }
  
  #arts4 {
  position: absolute;
  width: 100px;
  height:300px;
  left: 340px; 
  top:360px; 
  border: 1px solid black; 
  
    
  }
  
  #arts5 {
  position: absolute;
  width: 100px;
  height:300px;
  left: 450px; 
  top:360px; 
  border: 1px solid black;  
    
  }
  
  #arts6 { 
  position: absolute;
  width: 100px;
  height:300px;
  left: 560px; 
  top:360px; 
  border: 1px solid black; 
  
    
  }
