html, body {
    margin: 0;
    overflow: hidden;
}

#header {
	width: 100%;
	height: 350px;
	border: 1px solid black;
}


#personal {
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid black;
	padding: 10px;
}

#title {

    border: 1px solid white; 
}


#personal img {
	height: 25px;
	vertical-align: middle;
}

#personal span {
}

#personal:hover {
	cursor: pointer;
	text-decoration: underline;
}

#hulp {

 	 width:300px;
 	 height: 290px;
	top: 20px;
	margin-left: 10px;
	border: 1px solid black;
    padding: 10px;
  
}

#hulpinfo {

    position: fixed; 
    border: 1px solid black; 
    width: 150px;
    height: 120px; 
    margin-left: 80px; 
    top:75px; 


}

#hulpinput {

    border: 1px solid black; 
    
    width: 70px; 
    height: 40px; 
    margin-left:37px; 
    padding: 8px; 
   

}

#eigenoks {
}

#OK1 {


border: 1px solid black;

width: 400px;
height: 200px;

padding: 20px; 

position: fixed;
top: 100px; 
left: 500px; 


}

#bar {  
}

#OK2 {
    
border: 1px solid black; 

width: 400px;
height: 200px;

padding: 20px; 

position: fixed;
top: 100px;
left: 900px;

margin-left: 70px; 





}
         
.eigenok {

    border: 1px solid black; 
	

}

#overzicht {
}

#arts1 {
  
  border: 1px solid black;   
}

#arts1 img {
    height: 30px; 
    vertical-align: middle; 
    
}
#ok3{

    border: 1px solid black;
 
    margin-left:50px; 
    margin-top: 50px;
    margin-right: 50px; 
    height: 100px; 

}

#ok5 {

    border: 1px solid black;

    margin-left:50px; 
    margin-top: 50px;
    margin-right: 50px; 
    height: 100px; 

    margin-bottom: 50px; 

}

#arts2 {

  border: 1px solid black; 
  margin-bottom: 0;   
} 
    
#arts2 img {
    height: 30px; 
    vertical-align: middle; 
    
}

#ok2 {

    border: 1px solid black;

    margin-left:50px; 
    margin-top: 50px;
    margin-right: 50px; 
    height: 100px; 

}

#ok9 {

    border: 1px solid black;

    margin-left:50px; 
    margin-top: 50px;
    margin-right: 50px; 
    height: 100px; 

    margin-bottom: 50px; 



}
 #arts3 {
  
  border: 1px solid black; 
  margin-bottom: 0px;
  
    
  }

#arts3 img {
    height: 30px; 
    vertical-align: middle; 
    
}

#ok10{

    border: 1px solid black; 

    margin-left:50px; 
    margin-top: 50px;
    margin-right: 50px; 
    height: 100px; 

   
}

#ok11{
    
    border: 1px solid black; 

    margin-left:50px; 
    margin-top: 50px;
    margin-right: 50px; 
    height: 100px; 

    margin-bottom: 50px; 
}
  
  #arts4 {
  
  border: 1px solid black;
  margin-bottom: 0px;  
  
    
  }

#arts4 img {
    height: 30px; 
    vertical-align: middle; 
    
}
  
#ok12 {

    border: 1px solid black; 

    margin-left:50px; 
    margin-top: 50px;
    margin-right: 50px; 
    height: 100px; 

}
  #arts5 {

  border: 1px solid black;  
  margin-bottom: 0px; 
    
  }

#arts5 img {
    height: 30px; 
    vertical-align: middle; 
    
}
  
  #arts6 { 

  border: 1px solid black; 
  margin-bottom: 0px; 
  
    
  }

#arts6 img {
    height: 30px; 
    vertical-align: middle; 
    
}

#ok1 {

    border: 1px solid black; 

    margin-left:50px; 
    margin-top: 50px;
    margin-right: 50px; 
    height: 100px; 

 
}

#ok6 {

    border: 1px solid black; 

    margin-left:50px; 
    margin-top: 50px;
    margin-right: 50px; 
    height: 100px; 

    margin-bottom: 50px; 
}
