html, body {
	margin: 0;
}

#header {
	width: 100%;
	height: 350px;
	border: 1px solid black;
}

#personal {
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid black;
	padding: 10px;
}

#personal img {
	height: 25px;
	vertical-align: middle;
}

#personal span {
}

#personal:hover {
	cursor: pointer;
	text-decoration: underline;
}

#hulp {
	
	position: absolute;
 	 width:100px;
 	 height: 290px;
	top: 20;
	left: 20;
	border: 1px solid black; 
	padding: 10px; 



}

#eigenoks {
	

}

.eigenok {
	position: absolute;
	width: 200px;
	height: 150px;
	border: 1px solid black;
	top:130px; 

}

#overzicht {
}

#arts1 {
  
  position: absolute;
  border: 1px solid black; 
  padding
  
}

#arts1 img {
    height: 30px; 
    vertical-align: middle; 
    
}

#arts2 {
  position: absolute;
  border: 1px solid black; 
  
} 


#arts2 img {
    height: 30px; 
    vertical-align: middle; 
    
}
 #arts3 {
  position: absolute;
  border: 1px solid black; 
  
    
  }

#arts3 img {
    height: 30px; 
    vertical-align: middle; 
    
}
  
  #arts4 {
  position: absolute; 
  border: 1px solid black; 
  
    
  }

#arts4 img {
    height: 30px; 
    vertical-align: middle; 
    
}
  
  #arts5 {
  position: absolute;
  border: 1px solid black;  
    
  }

#arts5 img {
    height: 30px; 
    vertical-align: middle; 
    
}
  
  #arts6 { 
  position: absolute; 
  border: 1px solid black; 
  
    
  }

#arts6 img {
    height: 30px; 
    vertical-align: middle; 
    
}
